:root {
    --standard-font-family: 'Hepta Slab', serif; 
    --teal: #07889B;
    --powder: #66B9BF;
    --tang: #E37222;
    --yellow:#F4CA05;
    --white:#FFFFF;
}

body {
    margin: 0;
    font-family: var(--standard-font-family);
}

button {
    outline: none;
}

#main_title {
    font-family: var(--standard-font-family);
    color: var(--tang);
    position: fixed;
    left: 100px;
    top: -20;
    font-size: 40px;
    font-style: bold;
}

.sidebarbtn {
    width: 100%;
    height: 70px;
    border: none;
    font-size: 30px;
    background: var(--tang);
}

.sidebarbtn:hover {
    background: var(--powder);
    cursor: pointer;
}

#MainNav {
    width: 100%;
    height: 100px;
    background: var(--teal);
    position: fixed;
}

#main_image {
    width: 75px;
    height: 75px;
    top: 10px;
    left: 10px;
    float: left;
    position: fixed;
}

#MainSideBar {
    top: 10vh;
    width: 180px;
    height: 90vh;
    float: left;
    background: var(--tang);
    position: fixed;
}

#MainView {
    top: 10vh;
    height: 90vh;
    background: white;
    margin-left: 180px;
    padding: none;
    position: fixed;
}

#MapView {
    display: none;
    height: 100%;
    width: 100%;
}

.mainnavbtn {
    float: right;
    border: none;
    height: 100px;
    width: 75px;
    background: none;
    color: white;
    font-size: 15px;
}

.mainnavbtn:hover {
    cursor: pointer;
    background: rgb(16, 95, 107);
}

/*Modal*/
.user_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 70%;
    overflow: auto;
    background: #66B9BF;
    border-radius: 10px;
}

.user_header {
    font-family: var(--standard-font-family);
    font-size: 50px;
    text-align: center;
    display: block;
}

#user_get {
    margin-top: 5%;
}

#user_set {
    margin-top: 10%;
}
.modal_input {
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

#modal_btn {
    background: var(--tang);
}

#modal_btn:hover {
    cursor: pointer;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    background: none;
}

.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#marker {
    width: 20px;
    height: 20px;
    border: 1px solid #088;
    border-radius: 10px;
    background-color: #0FF;
    opacity: 1;
    z-index: 2;
  }

  #class_sel {
      width: 200px;
      height: 50px;
      border: none;
      outline: none;
      font-size: 20px;
      line-height: 10px;
  }
  #class_sel:hover {
      cursor: pointer;
  }

  .class_btn {
      width: 24.5%;
      height: 15%;
      padding: 10px;
      border: 1px solid var(--powder);
      font-family: var(--standard-font-family);
      font-size: 20px;
      border-radius: 5px;
  }
  .class_btn:hover {
      color: white;
      background: var(--tang);
      cursor: pointer;
  }

  #homework_content {
      display: block;
      height: 40vh;
      width: 100vw;
      overflow: auto;
      float: left;
  }