body {
    margin: 0;
}

.sidebarbtn {
    width: 100%;
    height: 30px;
    border: none;
    font-size: 20px;
}

.sidebarbtn:hover {
    background: gray;
    cursor: pointer;
}

#MainNav {
    width: 100%;
    height: 100px;
    background: blue;
    position: fixed;
}
#MainSideBar {
    top: 100px;
    width: 15%;
    height: 100%;
    float: left;
    background: red;
    position: fixed;
}
#MainView {
    top: 100px;
    width: 85%;
    height: 100%;
    background: green;
    margin-left: 15%;
    position: fixed;
}