:root {
    --standard-font-family: 'Hepta Slab', serif; 
    --teal: #07889B;
    --powder: #66B9BF;
    --tang: #E37222;
    --yellow:#F4CA05;
    --white:#FFFFF;
}

body {
    margin: 0;
    font-family: var(--standard-font-family);
}

.sidebarbtn {
    width: 100%;
    height: 30px;
    border: none;
    font-size: 20px;
    background: var(--tang);
}

.sidebarbtn:hover {
    background: var(--powder);
    cursor: pointer;
}

#MainNav {
    width: 100%;
    height: 100px;
    background: var(--teal);
    position: fixed;
}

#main_image {
    width: 75px;
    height: 75px;
    top: 10px;
    left: 10px;
    float: left;
    position: fixed;
}

#MainSideBar {
    top: 100px;
    width: 10%;
    height: 100%;
    float: left;
    background: var(--tang);
    position: fixed;
}
#MainView {
    top: 100px;
    width: 90%;
    height: 100%;
    background: green;
    margin-left: 10%;
    position: fixed;
}

.mainnavbtn {
    float: right;
    border: none;
    height: 100px;
    width: 75px;
    background: none;
}

.mainnavbtn:hover {
    cursor: pointer;
    background: rgb(16, 95, 107);
}

/*Modal*/
.user_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    overflow: auto;
    background: #66B9BF;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    background: none;
}

.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#marker {
    width: 20px;
    height: 20px;
    border: 1px solid #088;
    border-radius: 10px;
    background-color: #0FF;
    opacity: 1;
  }